/* General -- Desktop Styles */

#projects {
    text-align: center;
    justify-content: space-around;
    padding-top: 8vh;
}

#projects h3 {
    font-size: 2.5em;
    color: #fcde67;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

#projects .entries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5%;
    overflow-x: scroll;
    overflow-y: visible;
    width: 52vw;
    margin: auto;
    padding: 1rem;
}

#projects .entries::-webkit-scrollbar {
    display: none;
}

#projects .entry {
    border-radius: 0 10px 0 0;
    background: #e5e5e5ab;
    border-radius: 10px;
    transition: all 0.45s;
    opacity: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 50vw;
    overflow-y: hidden;
}

#projects .entry.active {
    background: radial-gradient(#439a86aa 5%, transparent 37%, #439a86aa 73%);
}

#projects .entry:hover {
    background: radial-gradient(#439a86aa 5%, transparent 375%, #439a86aa 73%);
    opacity: 1;
}

#projects .entry img {
    border-radius: 100%;
    display: block;
    margin: 0.25em auto 2rem auto;
    width: 30vh;
}

#projects .entry:hover img {
    box-shadow: 0 0 21px aliceblue;
    cursor: pointer;
}

.entry a {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    color: #222e50ff;
}

.entry p {
    padding: 2ch;
    color: white;
    max-width: 60%;
}

.project-indicator {
    display: flex;
    justify-content: center;
    position: relative;
    top: -1rem;

}

.project-indicator i {
    background-color: #fcde67;
    border-radius: 100%;
    margin: 0 0.5rem;
}

.project-indicator>i::after {
    content: 'B';
    display: block;
    color: transparent;
    font-size: 10px;
    margin-right: 1ch;
}

.project-indicator>i.displayed {
    background-color: #fcde67;
    scale: 1.4;
}

/* Mobile Styles */
@media screen and (max-width: 600px) {

    #projects {
        justify-content: center;
    }

    #projects .entries {
        grid-template-rows: min-content;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    #projects .entry {
        background-color: rgba(211, 211, 211, 0.7);
        justify-content: flex-end;
        width: 96vw;
        opacity: 1;
    }

    #projects .entry:hover {
        scale: 1;
    }

    #projects .entry .description {
        flex-grow: 1;
        background-color: white;
        padding: 1.5rem 0;
        width: 100%;
    }

    #projects .entry p {
        color: black;
        font-size: 1rem;
        text-align: justify;
        margin: auto;
    }

    #projects .entry img {
        margin: 2rem auto;
        height: 30vh;
        width: 30vh;
    }

    .project-indicator {
        top: 0;
    }
}

/* Tablet Styles */
@media screen and (max-width: 900px) {}

